<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>healthTrackInterview</title>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!--<link rel="stylesheet" type="text/css" href="/app/systemmgr/css/SystemMgr.36dcb7921905e539ae407f95946587e3.css">-->
</head>
<body>
<div layout:fragment="content">
    healthTrackInterview页面
    <div id=app></div>
    <!--<script th:src="@{/app/systemmgr/js/manifest.3ad1d5771e9b13dbdad2.js}"></script>-->
    <!--<script th:src="@{/app/systemmgr/js/vendor.901d37ab30fded6aaf1d.js}"></script>-->
    <!--<script th:src="@{/app/systemmgr/js/SystemMgr.9d6fefebf713f882fde9.js}"></script>-->
</div>
</body>
</html>