<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Information Acquisition</title>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css"
          href="/app/healthTrackInterview/css/index.b3657d635dacbf0922134a665116478b.css">
</head>
<body>
<div layout:fragment="content">
    <div id=app></div>
    <script th:src="@{/app/healthTrackInterview/js/manifest.3ad1d5771e9b13dbdad2.js}"></script>
    <script th:src="@{/app/healthTrackInterview/js/vendor.166594f6b6ca65271416.js}"></script>
    <script th:src="@{/app/healthTrackInterview/js/index.f7123c8ae47ffb7a79f9.js}"></script>
</div>
</body>
</html>