<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Information Acquisition</title>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css"
          href="/app/healthTrackInterview/css/index.b348ed61d5899e48e8cb58c29c78d051.css">
</head>
<body>
<div layout:fragment="content">
    <div id=app></div>
    <script th:src="@{/app/healthTrackInterview/js/manifest.3ad1d5771e9b13dbdad2.js}"></script>
    <script th:src="@{/app/healthTrackInterview/js/vendor.b6e724eef2aae758e581.js}"></script>
    <script th:src="@{/app/healthTrackInterview/js/index.17258b4cd8c436aa4b39.js}"></script>
</div>
</body>
</html>