<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Information Acquisition</title>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css"
          href="/app/healthTrackInterview/css/index.146ec79b594adbdb2a8c5a1f555e08ae.css">
</head>
<body>
<div layout:fragment="content">
    <div id=app></div>
    <script th:src="@{/app/healthTrackInterview/js/manifest.3ad1d5771e9b13dbdad2.js}"></script>
    <script th:src="@{/app/healthTrackInterview/js/vendor.b6e724eef2aae758e581.js}"></script>
    <script th:src="@{/app/healthTrackInterview/js/index.8208ad3bf7fcdd9abc35.js}"></script>
</div>
</body>
</html>