<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Information Acquisition</title>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css"
          href="/app/healthTrackDashboard/css/dashboard.7be12803e4869539ad3ce727201be26b.css">
</head>
<body>
<div layout:fragment="content">
    <div id=app></div>
    <script th:src="@{/app/healthTrackDashboard/js/manifest.3ad1d5771e9b13dbdad2.js}"></script>
    <script th:src="@{/app/healthTrackDashboard/js/vendor.f56edbbe1db5950c84ed.js}"></script>
    <script th:src="@{/app/healthTrackDashboard/js/dashboard.f5a5415ea7e447c37377.js}"></script>
</div>
</body>
</html>