<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Information Acquisition</title>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css"
          href="/app/healthTrackDashboard/css/dashboard.c241eb0bdc17672b83cec1f24e4fdb33.css">
</head>
<body>
<div layout:fragment="content">
    <div id=app></div>
    <script th:src="@{/app/healthTrackDashboard/js/manifest.3ad1d5771e9b13dbdad2.js}"></script>
    <script th:src="@{/app/healthTrackDashboard/js/vendor.5e4950e17aaa952a31de.js}"></script>
    <script th:src="@{/app/healthTrackDashboard/js/dashboard.8b9517c0dd6a27c10c26.js}"></script>
</div>
</body>
</html>